$gray-dark: #333333;
$purple: #763F7C;
$teal: #50B1BC;
$red: #D9524D;
$yellow: #F9C933;

$base-margin: 10px;
$site-max-width: 80vw;
$site-min-width: 1100px;

$bp-large: 1100px;
$bp-medium: 768px;
$bp-small: 480px;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic);